.all-car-parks-page {
    margin-top: 16px;
}

.all-car-parks-header {
    max-width: 312px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.all-car-parks-header h1 {
    color: #6E6E6E;
    font-family: Prompt, sans-serif;
    font-size: 1.71rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2.57rem;
}

.back {
    display: flex;
    justify-content: flex-start;
    max-width: 312px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6E6E6E;
    font-family: Prompt, sans-serif;
    padding-bottom: 10px;
}

a:link, a:visited, a:hover, a:active {
    color: #6E6E6E;
    text-decoration: none;
}